@media only screen and (min-width: 768px) {
 .navbar {
     background-color: #2A6EBB;
 }

 .navbar-nav {
     justify-content: space-between;
     width: 100%;
 }

 .nav-link {
    color: #fff !important;
    font-size: 17px
}

.dropdown-menu {
    background-color: #fff !important;
    border-radius: 0px 0px 6px 6px !important; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    margin: 7px 0 0 !important;
}

.nav-link:focus {
    border-bottom: 5px solid #1F5189;
    display: block;
    margin-bottom: -7px;
}

.dropdown-divider {
    height: 0;
    border-top: 1px solid #CCCDCD;
    width: calc(100% - 10%);
    display: block;
    margin: auto;
}

.dropdown-toggle::after {
    content: "";
}
}